%section {
    padding: 1.25rem 7%;
}

%h2 {
    color: nth($colores, 4);
}

%span {
    color: nth($colores, 1);
}

%input {
    width: 100%;
    font-size: 1rem;
    color:#fff;
    text-transform: none;
}